<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Analytics Pro</title>

    <link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../vendors/nprogress/nprogress.css" rel="stylesheet">

  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

    <link href="../build/css/custom.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

  </head>

  <body class="nav-md-0">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3">
       

            <div class="clearfix"></div>

          </div>
        </div>

        <header id="header" style="background-color: #2C3A47">
            <div class="container-fluid">
  
              <div id="logo" class="pull-left">
                <h1><a href="#intro" class="scrollto">Analytics Pro</a></h1>
              
              </div>
                  <button id="switch_button_map" style="float: right;" type="button" class="btn btn-dark">Switch to Continental Visualisations ></button>
             
            </div>
          </header><!-- #header -->
<br><br><br><br><br>
        <div class="right_col" role="main">
          <div class="">
            
            
            <div class="clearfix"></div>

            <div class="row">
              
                <div id="map_visualisaton" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                     
                      <div class="x_content">
    
                        <div id="echart_world_map" style="height:100vh;"></div>
    
                      </div>
                    </div>
                  </div>
    
                  <div id="pie_visualisaton" class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                      
                        <div class="clearfix"></div>
                      
                      <div class="x_content">
    
                        <div id="echart_pie2" style="height:75vh;"></div>
    
                      </div>
                    </div>
                  </div>
        </div>
   
      </div>
    </div>

    <script src="../vendors/jquery/dist/jquery.min.js"></script>
    <script src="../vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../vendors/fastclick/lib/fastclick.js"></script>
    <script src="../vendors/nprogress/nprogress.js"></script>
    <script src="../vendors/echarts/dist/echarts.min.js"></script>
    <script src="../vendors/echarts/map/js/world.js"></script>

    <!-- <script src="../build/js/map.js"></script> -->
	
  </body>
  <script>
  
$(document).ready(function() {
	
    
	$('#switch_button').on('click',function(e){

		$("#scatter_title").text("Climate Changes (State Level)");

        if ($("#switch_button").text() == "Switch to State Level Visualisations >" ){

          $("#switch_button").text("Switch to Country Level Visualisations >");
          $("#scatter").show();
          $("#line").hide();
          
        }
        else{
          $("#switch_button").text("Switch to State Level Visualisations >");
          $("#scatter").hide();
          $("#line").show();
        }        


      });

	$('#switch_button_map').on('click',function(e){


        if ($("#switch_button_map").text() == "Switch to Continental Visualisations >" ){

          $("#switch_button_map").text("Switch to Map Visualisations >");
          $("#pie_visualisaton").show();
          $("#map_visualisaton").hide();
          
        }
        else{
          $("#switch_button_map").text("Switch to Continental Visualisations >");
          $("#pie_visualisaton").hide();
          $("#map_visualisaton").show();
        }        


      });

	var timer;

      $(function() {
        $('#line').loader('show','<img src="../img/ring.gif">');
        $('#map_visualisaton').loader('show','<img src="../img/ring.gif">');
        window.clearTimeout(timer);

        $("#scatter_title").text("");
       timer = window.setTimeout(function(){
        // When the time is 1.5 second after last input, hide the image.
        $('#line').loader('hide');
        $('#map_visualisaton').loader('hide');
        $("#scatter").fadeOut();
        $("#pie_visualisaton").fadeOut();
        
        }, 6500);

        
      });
});	</script>
</html>
